.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              = f.submit '', :name => 'back_button', :class => 'back_button'
              %a.camIcon#gdrive_file_selector{:href => "#"}
                = image_tag 'cam-icon.png', :height => 47, :width => 47
        .row
          .col-md-12
            .info
              .rentBlock
                .propertyBox
                  .title
                    %img#img_gdrive_file
                    .fileinputs
                      %input.file#gdrive_file{:type => "file"}
                      %img{:alt => "", :src => "/assets/home.jpg", :id => "imgPreview"}
                    %span Description
                    .fileinputs{:onclick => "$('#filePhoto').click()"} 
                      = f.file_field :image, :id => "filePhoto", :type => "file", :class => "file"
        .row
          .col-md-12
            %p  
            %p  
            %p  
            %p  
            %p  
            %p  
        .row
          .col-md-12
            .actions
              = f.submit "Done", :class => 'btn btn-success pull-right'
:javascript
  var imageLoader = document.getElementById('filePhoto');
      imageLoader.addEventListener('change', handleImage, false);
  function handleImage(e) {
      var reader = new FileReader();
      reader.onload = function (event) {
          $('#imgPreview').attr('src',event.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
  }