.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              %a{:href => "#"}
                %img{:alt => "", :height => "25", :src => "images/back-arrow.png", :width => "24"}/
              %a.camIcon{:href => "#"}
                %img{:alt => "", :height => "47", :src => "images/cam-icon.png", :width => "47"}/
        .row
          .col-md-12
            .info
              .rentBlock
                .propertyBox
                  .title
                    .fileinputs
                      %input.file{:type => "file"}/
                    %span Description
        .row
          .col-md-12
            %p  
            %p  
            %p  
            %p  
            %p  
            %p  
        .row
          .col-md-12
            %a.btn.btn-success.btn-lg.pull-right{:href => "#"} Done