.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              = f.submit '', :name => 'back_button', :class => 'back_button'
              %a.camIcon#gdrive_file_selector{:href => "#"}
                = image_tag 'cam-icon.png', :height => 47, :width => 47
        .row
          .col-md-12
            .info
              .rentBlock
                .propertyBox
                  .title
                    %img#img_gdrive_file
                    .fileinputs
                      %input.file#gdrive_file{:type => "file"}/
                    %span Description
        .row
          .col-md-12
            %p  
            %p  
            %p  
            %p  
            %p  
            %p  
        .row
          .col-md-12
            %a.btn.btn-success.btn-lg.pull-right{:href => "#"} Done