.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox.innerPage
        .row
          .col-md-12
            .backArrow
              = f.submit '', :name => 'back_button', :class => 'back_button'
              %a.camIcon#gdrive_file_selector{:href => "#"}
                = image_tag 'cam-icon.png', :height => 47, :width => 47
        .row
          .col-md-12
            .info
              .rentBlock
                .propertyBox
                  .uploadImg
                    .uploadPic
                      %img#img_gdrive_file{:alt => "", :src => "/assets/home.jpg" }
                      %span Description
                    .fileinputs{:onclick => "$('#filePhoto').click()"} 
                      = f.file_field :image, :type => "file", :class => "file", :id => 'filePhoto'
                      %input{:type => 'hidden', :id => 'gdrive_file'}
        .row
          .col-md-12
            %p  
            %p  
            %p  
            %p  
            %p  
            %p  
        .row
          .col-md-12
            .actions
              = f.submit "Done", :class => 'btn btn-success pull-right'
:javascript
  var imageLoader = document.getElementById('filePhoto');
      imageLoader.addEventListener('change', handleImage, false);
  function handleImage(e) {
      e.preventDefault();
      var reader = new FileReader();
      reader.onload = function (event) {
          $('#img_gdrive_file').attr('src',event.target.result);
          $('#img_gdrive_file').attr('height', '110px');
          $('#img_gdrive_file').attr('width', '223px');
          $('#gdrive_file').val('');
      }
      reader.readAsDataURL(e.target.files[0]);
  }