.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox
        .row
          .col-md-12
            .thankYou
              %h2.text-center Add property for individual
              %p Thank you for submit your Property!!!
              %p
              %a{:href => "/properties/new"} Submit another Property !!
