%footer.footer.text-center
  .container
    .footerLinks
      %a{:href => "#"} Company
      %a{:href => "#"} Jobs
      %a{:href => "#"} Terms  Policies
    .footerSocialLinks
      %p Join us on
      %p
        %a{:href => "#"}
          %img{:alt => "", :height => "30", :src => "images/google-icon.png", :width => "30"}/
          %a{:href => "#"}
            %img{:alt => "", :height => "30", :src => "images/facebook-icon.png", :width => "30"}/
            %a{:href => "#"}
              %img{:alt => "", :height => "30", :src => "images/twitter-icon.png", :width => "30"}/
            %span Your Next Room Inc