%footer.footer.text-center
  .container
    .footerLinks
      %a{:href => "#"} Company
      %a{:href => "#"} Jobs
      %a{:href => "#"} Terms  Policies
    .footerSocialLinks
      %p
        %a{:href => new_user_session_path } Join us on
      %p
        %a{:href => "#"}
          = image_tag 'google-icon.png', :height => 30, :width => 30
        %a{:href => "#"}
          = image_tag 'facebook-icon.png', :height => 30, :width => 30
        %a{:href => "#"}
          = image_tag 'twitter-icon.png', :height => 30, :width => 30
        %span Your Next Room Inc

:javascript
  jQuery(function($) {
    var contentHeight = $(window).height() - $('.footer').outerHeight(true);
    $( ".mainContainer" ).css('min-height', contentHeight);
  });
  $(window).resize(function(){
    var contentHeight = $(window).height() - $('.footer').outerHeight(true);
    $( ".mainContainer" ).css('min-height', contentHeight);
  });
