.container
  .row
    .col-md-12
      .welcomeMain
        %h1 Welcome
        %h2 To Your Next Room
        - if current_user
          %h3
            = current_user.email
        - else
          = link_to "Join us on", new_user_session_path