.container
  .row
    .col-md-10.col-md-offset-1
      .mainBox
        .row
          .col-md-12
            .thankYou
              %h1.text-center WELCOME
              %h2.text-center To Your Next Room
              %p
              = link_to "Join us on", new_user_session_path
