= form_for(@myuploader) do |f|
  .mainContainer
    .container
      .row
        .col-md-10.col-md-offset-1
          .mainBox.innerPage
            .row
              .col-md-12
                .backArrow
                  %a{:href => "#"}
                    %img{:alt => "", :height => "25", :src => "/assets/back-arrow.png", :width => "24"}/
                  %a.camIcon{:href => "#"}
                    %img{:alt => "", :height => "47", :src => "/assets/cam-icon.png", :width => "47"}/
            .row
              .col-md-12
                .info
                  .rentBlock
                    .propertyBox
                      .uploadImg
                        .uploadPic
                          %img{:alt => "", :src => "/assets/home.jpg", :id => "imgPreview"}
                          %span Description
                        .fileinputs{:onclick => "$('#filePhoto').click()"} 
                          = f.file_field :image, :id => "filePhoto", :type => "file", :class => "file"
            .row
              .col-md-12
                %p  
                %p  
                %p  
                %p  
                %p  
                %p  
            .row
              .col-md-12
                .actions
                  = f.submit "Done", :class => 'btn btn-success pull-right'
  
:javascript
  var imageLoader = document.getElementById('filePhoto');
      imageLoader.addEventListener('change', handleImage, false);
  function handleImage(e) {
      var reader = new FileReader();
      reader.onload = function (event) {
          $('#imgPreview').attr('src',event.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
  }